# 忽略单个文件
debug.log
config.ini
合伙人移动端需求清单2.0.txt
合伙人移动端需求清单.txt

# 忽略整个文件夹（末尾加 /）
3Drone_fit/
2Drone_fit/
ref_page/

# 忽略特定类型的文件（用通配符 *）
*.txt       # 忽略所有 .txt 结尾的文件


# 例外规则（在前面加 !，表示不忽略该文件）
!readme.txt  # 即使忽略了 *.txt，也会提交 readme.txt